<!DOCTYPE html>
<html>
    <head>
        <title>更新页面</title>
<!--         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/material/easyui.css">
        <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/mobile.css">
        <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/icon.css">
        <script type="text/javascript" src="/static/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.easyui.mobile.js"></script>
        <script type="text/javascript" src="/static/pinchzoom/src/pinchzoom.min.js"></script> -->
        <!-- <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"> -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/js.cookie.js"></script>
        <!-- <script src="/static/bootstrap/js/bootstrap.min.js"></script> -->
    </head>

    <body>
        <div style="width: 300px;height: 400px">
            <form id="main_form">
                <div>
                    <input type="file" name="file1"/>
                    <select name="lab1">
                        <option>云景4楼</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div>
                    <input type="file" name="file2"/>
                    <select name="lab2">
                        <option>1</option>
                        <option>云景3楼</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <input type="submit" value="提交"/>
            </form>
        <div>
        <input type="button" id="btn_add" value="增加"/>
    </body>
    <script src="/static/odf_pic/js/update.js"></script>
</html>