<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/reveal/css/reveal.css">
        <link rel="stylesheet" href="/static/reveal/css/theme/sky.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-autoslide="800000" style="width:100%;height:100%">
                <div style="width:100%;height:50%">
                    <div id="chart1_1" style="display:inline-block;width:49%;height:100%;"></div>
                    <div id="chart1_2" style="display:inline-block;width:49%;height:100%;"></div>
                    <div id="chart1_3" style="margin:auto;width:49%;height:100%;">yy</div>
                    </div>
                </section>
                <section data-autoslide="8000" style="height: 100%">
                    <div id="chart2" style="width:100%;height:100%;"></div>
                </section>
                <section data-autoslide="8000" style="height: 100%">
                    <div id="chart3" style="width:100%;height:100%;"></div>
                </section>
                <section data-autoslide="8000" style="height: 100%">
                    <div id="chart4" style="width:100%;height:100%;"></div>
                </section>
                <section data-autoslide="8000" style="height: 100%">
                    <div id="chart5" style="width:100%;height:100%;"></div>
                </section>
                <section data-autoslide="8000" style="height: 100%">
                    <div id="chart6" style="width:100%;height:100%;"></div>
                </section>
            </div>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/js.cookie.js"></script>
        <script src="/static/reveal/js/reveal.js"></script>
        <script src="/static/js/echarts.min.js"></script>
        <script src="/static/flow_monitor/js/showPage.js"></script>
    </body>
</html>