<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/reveal/css/reveal.css">
        <link rel="stylesheet" href="/static/reveal/css/theme/sky.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-autoslide="25000" style="width:100%;height:100%">
                    <div id="chart1_1" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart1_2" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart1_3" style="margin:auto;width:49%;height:50%;"></div>
                </section>
                <section data-autoslide="20000" style="height: 100%">
                    <div id="chart2_1" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart2_2" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart2_3" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart2_4" style="display:inline-block;width:49%;height:50%;"></div>
                </section>
                <section data-autoslide="20000" style="height: 100%">
                    <div id="chart3_1" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart3_2" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart3_3" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart3_4" style="display:inline-block;width:49%;height:50%;"></div>
                </section>
                <section data-autoslide="20000" style="height: 100%">
                    <div id="chart4_1" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart4_2" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart4_3" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart4_4" style="display:inline-block;width:49%;height:50%;"></div>
                </section>
                <section data-autoslide="20000" style="height: 100%">
                    <div id="chart5_1" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart5_2" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart5_3" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart5_4" style="display:inline-block;width:49%;height:50%;"></div>
                </section>
                <section data-autoslide="20000" style="height: 100%">
                    <div id="chart6_1" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart6_2" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart6_3" style="display:inline-block;width:49%;height:50%;"></div>
                    <div id="chart6_4" style="display:inline-block;width:49%;height:50%;"></div>
                </section>
            </div>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/js.cookie.js"></script>
        <script src="/static/reveal/js/reveal.js"></script>
        <script src="/static/js/echarts.min.js"></script>
        <script src="/static/flow_monitor/js/showPage.js"></script>
    </body>
</html>