
<!DOCTYPE html>
<html>
    <head>
        <title>距离分析</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            #map { 
                position: absolute;
                top: 30px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }
        </style>
    </head>
    <body>
        <input type="text"/>
        <input type="file"/>
        <input type="button" id="submit" value="上传"/>
        <div id="map"></div>
    </body>
    <script src="/static/trans_book/js/jquery-2.1.1.min.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=fUyHuVGV8jPlxb3wYuUGargm"></script>
    <script src="/static/bmap/js/GeoUtils_min.js"></script>
    <script src="/static/trans_book/js/json2.js"></script>
    <script src="/static/bmap/js/csv.js"></script>
</html>